Adafruit-Blinka==6.4.0
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-mpu6050==1.1.6
adafruit-circuitpython-register==1.9.5
Adafruit-PlatformDetect==3.3.0
Adafruit-PureIO==1.1.8
bidict==0.21.2
click==7.1.2
dnspython==1.16.0
eventlet==0.30.2
Flask==1.1.2
Flask-SocketIO==5.0.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyAudio==0.2.11
pyftdi==0.52.9
pyserial==3.5
python-engineio==4.0.1
python-socketio==5.1.0
pyusb==1.1.1
rpi-ws281x==4.2.6
RPi.GPIO==0.7.0
six==1.15.0
sysv-ipc==1.1.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0