<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <title>The "Bomb" Game - Wizard of Oz Controls</title>
    <br>
    To listen in, click the button below:
	<button id = 'play'>Eavesdrop</button>
    <audio id='mic' src="http://{{ hostname }}.local:8080" >
    </audio>
        <br>
            <br>
    <label> Speak by typing in the box below and then clicking "send"
        <input type="text" id='wordsIn'>
        <button id='send'>send</button>

    </label>
    <hr>
    Round #1 Questions: <br>
    &nbsp;"What is your name?"
    <div>
        Choose an action based on the player's response.
        <div style="inline-block">
            <button id="accept-name" class="name">Accept</button>
        </div>
        <div style="inline-block">
            <button id="reject-name" class="name">Reject</button>
        </div>
    </div>
<script src="static/index.js"></script>
</body>
</html>
