<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>The "Bomb" Game - Wizard of Oz Controls</h1> <br>
    <hr2>The below controls can be used at any time.</hr2>
    To listen in, click the button below:
	<button id = 'play'>Eavesdrop</button>
    <audio id='mic' src="http://{{ hostname }}.local:8080" >
    </audio>
        <br>
            <br>
    <label> Speak by typing in the box below and then clicking "send"
        <input type="text" id='wordsIn'>
        <button id='send'>send</button>

    </label>
    To initiate a detonation, click the button below:
    <button id="detonte">Detonate</button>
    <hr>
    <h2>Start the Game</h2> <br>
    Start the game by clicking the button below.
    <button id="start-game">Start Game</button>
    <hr>
    <h2>Round #1 Questions</h2> <br>
    "What is your name?"
    <div>
        <div style="display:inline-block">
            <button id="accept-name">Accept</button>
        </div>
        <div style="display:inline-block">
            <button id="reject-name">Reject</button>
        </div>
    </div>
    "What is your favorite color?"
    <div>
        <div style="display:inline-block">
            <button id="accept-color">Accept</button>
        </div>
        <div style="display:inline-block">
            <button id="reject-color">Reject</button>
        </div>
    </div>
    <hr>
    <h2>Round #2 Riddle 1</h2>
    What has to be broken before you can use it?
    <div>
        <div style="display:inline-block">
            <button id="accept-riddle1">Accept</button>
        </div>
        <div style="display:inline-block">
            <button id="reject-riddle1">Reject</button>
        </div>
    </div>
    <hr>
    <h2>Round #4 Riddle 2</h2>
    <div>
        <div style="display:inline-block">
            <button id="accept-riddle2">Accept</button>
        </div>
        <div style="display:inline-block">
            <button id="reject-riddle2">Reject</button>
        </div>
    </div>
    <hr>
    <h2>Round #7 Riddle 3</h2>
    <div>
        <div style="display:inline-block">
            <button id="accept-riddle3">Accept</button>
        </div>
        <div style="display:inline-block">
            <button id="reject-riddle3">Reject</button>
        </div>
    </div>
<script src="static/index.js"></script>
</body>
</html>
