Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-framebuf
adafruit-circuitpython-mpr121
adafruit-circuitpython-mpu6050
adafruit-circuitpython-ssd1306
adafruit-circuitpython-pca9685
adafruit-circuitpython-servokit
adafruit-circuitpython-apds9960
adafruit-circuitpython-seesaw
sparkfun-qwiic
sparkfun-qwiic-joystick
sparkfun-qwiic-vl53l1x
Adafruit-GPIO
Adafruit-PlatformDetect
Adafruit-PureIO
Adafruit-SSD1306
pyftdi
pyserial
pyusb
rpi-ws281x
RPi.GPIO
spidev
sysv-ipc
sparkfun-qwiic-proximity
