bidict==0.21.2
click==7.1.2
Flask==1.1.2
Flask-SocketIO==5.0.1
Flask-Sockets==0.2.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-engineio==4.0.0
python-socketio==5.0.4
six==1.15.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
